<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347946496466-6rig5l4u4g433aeunmpc2anqb7b7q1de.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347946496466-6rig5l4u4g433aeunmpc2anqb7b7q1de</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>347946496466-7jt9jkt800bnj894g3jqapr6kvoahsfh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ_dJll_-kO4N-yebv4IVxL5cjKAQlIj8</string>
	<key>GCM_SENDER_ID</key>
	<string>347946496466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuth</string>
	<key>PROJECT_ID</key>
	<string>telemedicine-app-3fcd8</string>
	<key>STORAGE_BUCKET</key>
	<string>telemedicine-app-3fcd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347946496466:ios:d176f54679caa0cdbe980b</string>
</dict>
</plist>